
<div class="container">
<a href="prodottis"><button type="button" class="btn btn-primary">Prodotti</button></a>
<a href="prodottis/new"><button type="button" class="btn btn-primary">Nuovo Prodotto</button></a>
</div>
